.charactersList_wrapper {
  border: 1px solid blue;
  margin: 0 auto;
  width: 70%;
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.char_list {
  border: 1px solid green;
  margin: 0 auto;
}